#jnavbar{
    /*display:flex;*/
    /*justify-content: center;*/
    font-size: 15px !important;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
    /*border: 5px solid red;*/
}

.navbar{

    font-size: 10px !important;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 600;
}

div {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size:10px;
    font-weight: 600;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.mediacontainer img{
    display: inline-block;

    max-width: 100%;
    max-height: 300px !important;
    /*border: 5px solid red;*/
}